---
import Layout from "../layouts/Layout.astro";
import Slider from "../components/Slider.astro";
---

<Layout title="Marioly Travel & Tours">
  <main>
    <div class="grid contenido">
      <nav class="nav">
        <img
          src="/marioly-logo.svg"
          alt="Tours a playa las gatas en zihuatanejo"
        />
        <ul>
          <li><a href="#">Transporte</a></li>
          <li><a href="#">Tours</a></li>
          <li><a href="#">Hospedaje</a></li>
          <li><a href="#">Contacto</a></li>
        </ul>
      </nav>
    </div>
    <div class="grid pantalla-der">
      <div id="hero">
        <div class="izq">
          <div class="bandeja">
            <h1>
              ¡Descubre la magia de Playa las Gatas <span>
                con Marioly Travel & Tours!</span>
            </h1>
            <p>
              <b>Vive a una experiencia única en Zihuatanejo</b>, donde la
              belleza natural se encuentra con la comodidad. En Marioly, nos
              enorgullece ofrecerte un exclusivo viaje a la paradisíaca Playa
              las Gatas, la playa más bonita de la bahía Zihuatanejo.
            </p>
            <a href="#" class="cta">conoce el tour</a>
          </div>
        </div>
        <div class="der">
          <img
            src="/hero-playa-las-gatas-zihuatanejo-marioly.webp"
            alt="Marioly, conoce playa las gatas en zihuatanejo"
          />
        </div>
      </div>
    </div>
    <div class="grid pantalla">
      <Slider />
    </div>

    <div class="grid pantalla" id="transporte">
      <div class="video grid contenido">
        <video controls>
          <source src="/marioly.oggtheora.ogv" type="video/mp4">
          Actualiza tu navegador para poder reproducir el video.
        </video>
        
        <div class="bandeja">
          <img src="/isotipo.svg" alt="marioly ixtapa zihuatanejo">
          <h2><span>Transpórtate</span> a Ixtapa Zihuatanejo</h2>

          <div class="conte">
            <div class="card">
              <img src="/urban-marioly-ixtapa-zihuatanejo.png" alt="transport terrestre en zihuatanejo">
              <h3>Transporte terrestre</h3>
              <p>Contamos con amplias unidades de hasta 14 pasajeros que te transportarán del aeropuerto a cualquier punto de <b>Ixtapa Zihuatanejo, Petatlán, Barra de Potosí y Lázaro Cárdenas</b></p>
            </div>
            <div class="card">
              <img src="/lancha-marioly-ixtapa-zihuatanejo.png" alt="servicio de lanchas en zihuatanejo">
              <h3>Transporte marino</h3>
              <p>Además de llevarte por tierra, tambien podemos llevarte a ti a tu familia y amigos <b>en lancha hasta Playa Las Gatas o cualquier zona dentro de la Bahía</b> de Zihuatanejo.</p>
            </div>
          </div>
        </div>
      </div>
            </div>

  </main>
</Layout>
