---
import Layout from "../layouts/Layout.astro";
import Slider from "../components/Slider.astro";
---

<Layout title="Marioly Travel & Tours">
  <main>
    <div class="grid contenido">
      <nav class="nav">
        <img
          src="/marioly-logo.svg"
          alt="Tours a playa las gatas en zihuatanejo"
        />
        <ul>
          <li><a href="#">Transporte</a></li>
          <li><a href="#">Tours</a></li>
          <li><a href="#">Hospedaje</a></li>
          <li><a href="#">Contacto</a></li>
        </ul>
      </nav>
    </div>
    <div class="grid pantalla-der">
      <div id="hero">
        <div class="izq">
          <div class="bandeja">
            <h1>
              ¡Descubre la magia de Playa las Gatas <span>
                con Marioly Travel & Tours!</span
              >
            </h1>
            <p>
              <b>Vive a una experiencia única en Zihuatanejo</b>, donde la
              belleza natural se encuentra con la comodidad. En Marioly, nos
              enorgullece ofrecerte un exclusivo viaje a la paradisíaca Playa
              las Gatas, la playa más bonita de la bahía Zihuatanejo.
            </p>
            <a href="#" class="cta">conoce el tour</a>
          </div>
        </div>
        <div class="der">
          <img
            src="/hero-playa-las-gatas-zihuatanejo-marioly.webp"
            alt="Marioly, conoce playa las gatas en zihuatanejo"
          />
        </div>
      </div>
    </div>
    <div class="grid pantalla">
      <Slider />
    </div>

    <div class="grid pantalla" id="transporte">
      <div class="video grid contenido">
        <video controls>
          <source src="/marioly.mp4" type="video/mp4" />
          Actualiza tu navegador para poder reproducir el video.
        </video>

        <div class="bandeja">
          <img src="/isotipo.svg" alt="marioly ixtapa zihuatanejo" />
          <h2><span>Transpórtate</span> a Ixtapa Zihuatanejo</h2>

          <div class="conte">
            <div class="card">
              <img
                src="/urban-marioly-ixtapa-zihuatanejo.png"
                alt="transport terrestre en zihuatanejo"
              />
              <h3>Transporte terrestre</h3>
              <p>
                Contamos con amplias unidades de hasta 14 pasajeros que te
                transportarán del aeropuerto a cualquier punto de <b
                  >Ixtapa Zihuatanejo, Petatlán, Barra de Potosí y Lázaro
                  Cárdenas</b
                >
              </p>
            </div>
            <div class="card">
              <img
                src="/lancha-marioly-ixtapa-zihuatanejo.png"
                alt="servicio de lanchas en zihuatanejo"
              />
              <h3>Transporte marino</h3>
              <p>
                Además de llevarte por tierra, tambien podemos llevarte a ti a
                tu familia y amigos <b
                  >en lancha hasta Playa Las Gatas o cualquier zona dentro de la
                  Bahía</b
                > de Zihuatanejo.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="lasgatas">
      <div class="grid contenido">
        <div id="bandeja">
          <img
            src="/bebida-marioly-ixtapa-zihuatanejo.png"
            id="bebida"
            alt="bebida de coretesia en playa las gatas"
          />
          <div id="ima">
            <img
              src="/tour-marioly-ixtapa-zihuatanejo-las-gatas.png"
              alt="Tour playa las gatas en zihuatanejo"
            />
          </div>
          <div id="conte">
            <h2><span>Tour</span> <br /> Las Gatas</h2>
            <p>
              <b>Tenemos tours diseñados</b> para viajeros que buscan la playa, buena
              comida y la comodidad de un transporte seguro y cómodo
            </p>
            <ul>
              <li>
                Transporte privado al Muelle de Zihuatanejo y despues en lancha
                a Playa Las Gatas.
              </li>
              <li>
                Come en el Restaurantes 3 Palmas frente a Playa Las Gatas.
              </li>
              <li>Incluye Bebida de Cortesía.</li>
              <li>Entrada Platillo de Mariscos.</li>
              <li>Equipo de snorkel.</li>
              <li>Regreso a su destino de partida despues de las 5 P.M.</li>
            </ul>
            <p>
              <b
                >Además tienes la opción de quedarte a dormir en la playa más
                bonita del la bahía de Zihuatanejo que tienen la opcion de
                reservar en linea o ya en lugar</b
              >
            </p>
          </div>
        </div>
      </div>

      <div class="grid contenido">
        <div id="hospedate">
          <h2>Hospedate frente al mar</h2>
          <p>
            <b>Cómodos bungalows frente al mar</b> en la playa más bonita de Zihuatanejo
          </p>
          <div id="fotos">
            <div class="foto">
              <img
                src="/hotel-playa-las-gatas.png"
                alt="hospedaje en playa las gatas"
              />
              <h3>Hospedaje frente a la playa</h3>
              <p>
                Duerme a unos metros de <b
                  >la playa mas tranquila de Zihuatanejo</b
                >, despierta y escucha el sonido del mar, relajate y nada a solo
                unos pasos de tu estancia.
              </p>
            </div>
            <div class="foto">
              <img
                src="/hotel-playa-las-gatas-cuarto.png"
                alt="hospedaje en playa las gatas con comidida"
              />
              <h3>Comodidad</h3>
              <p>
                Goza de la naturaleza sin perder comodidad, los bungalows
                cuentas con servicios que harán <b
                  >tu estancia muy comoda en medio del paraíso</b
                >.
              </p>
            </div>
            <div class="foto">
              <img
                src="/hotel-playa-las-gatas-snorkel.png"
                alt="hospedaje en playa las gatas"
              />
              <h3>Actividades en la playa</h3>
              <p>
                <b>Snorkel, paseo en banana, jet sky</b> son algunas de las actividades
                que te ofrecemos.
              </p>
            </div>
          </div>
          <img
            id="pez"
            src="/pez-marioly-ixtapa-zihuatanejo.png"
            alt="snorkel y vida marina en playa las gatas"
          />
        </div>
      </div>
    </div>

    <div id="reservaciones">
      <h2>Reserva tu viaje hoy mismo</h2>
      <p>
        <b>Contáctanos para darte un presupuesto</b> y viaja a Ixtapa Zihuatanejo,
        con comodidad
      </p>

      <div class="grid pantalla-izq">
        <div class="bandeja">
          <div id="portada">
            <img
              src="/contacto-collague-marioly-ixtapa-zihuatanejo.png"
              alt=" reserva tu viaje a ixtapa zihuatanejo"
            />
          </div>
          <div id="formu">
            <div class="conte">
              <label for="tour">Tour</label>
              <select name="tour" id="tour">
                <option value="Sentra">Tour Playa Las Gatas</option>
              </select>
              <label for="transporte">Transporte</label>
              <select name="transporte" id="transporte">
                <option value="Sentra">Nissan sentra 4 pasajeros</option>
                <option value="Urban">Nissan Urban 14 pasajeros</option>
                <option value="Hince">Toyota Hince 14 pasajeros</option>
              </select>
              <label for="nombre">Nombre</label>
              <input
                type="text"
                name="nombre"
                id="nombre"
                placeholder="Nombre y apellido"
              />
              <label for="nombre">Numero de pasajeros</label>
              <input type="number" name="pasajeros" id="pasajeros" />
              <label for="llegada">fecha de llegada</label>
              <input type="date" name="llegada" id="llegada" />
              <label for="regreso">fecha de regreso</label>
              <input type="date" name="regreso" id="regreso" />
              <input type="submit" value="Enviar" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer>
      <img src="/marioly-logo-footer.svg" alt="marioly tours a zihuatanejo">
      <ul>
        <li><b>email:</b> <a href="mailto:transportesmarioly@gmail.com">transportesmarioly@gmail.com</a></li>
        <li><b>teléfono:</b> <a href="tel:7757128 4344">7757128 4344</a></li>
        <li>

          <address>
            Avenida Reforma, a un lado de la parroquia San José Obrero, calle 2 de abril, Lázaro Cárdenas Mich.
          </address>
        </li>

      </ul>
      <ul>
        <li>
          <a href="#" target="_blank"><img src="/facebook.svg" alt="facebook marioly"></a>
        </li>
        <li>
          <a href="#" target="_blank"><img src="/whatsapp.svg" alt="whatsapp marioly"></a>
        </li>
      </ul>
    </footer>
  </main>
</Layout>
